#dashboard {
    width: 70%;
}

section {
    display: block;
}

#main-part {
    display: flex; 
    height: 100vh;  
}

#right-side{
    display: flex;
    padding: 10px 5px;
    flex-wrap: wrap; 
    max-width: 100%;
    width: 30%;
    margin: auto;
    height: 100%;
    
}

.card {
    width: 120px;
    height: 100px;
    background-color: #fff;
    padding: 10px 20px 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-weight: bold;
    
    background-color: #ffffff;
}

.barre-haut {
    background-color: aquamarine;
}

.titre {
    font-size: 10pt; 
    color: red;
    margin: 0;
}

.prix {
    font-size: 18pt; 
    color: blue;
    margin: 0;
}

.bottom-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
}

.stock-title {
    font-size: 6pt;
    font-style: oblique;
    font-weight: lighter;
    margin: 0;
}

.stock-value {
    font-size: 8pt;
    margin: 0;
}

#dashboard>div {
    background-color: rgb(191, 231, 248);
}

#bottom-one {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
}

.block-right { 
    /*
    width: 90%;
    height: 18%;
    align-self: center; */
    flex: 8 100%;
    min-width: 0;

}

/* Style for graphic */
.graph-container {
    font-family: Arial, sans-serif;
    width: 100%;
    max-width: 600px; 
}

.graph-title {
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
    background-color: #84fcfc;
}

.graph-body {
    display: flex;
}

.product-labels {
    display: flex;
    flex-direction: column;
    margin-right: 8px;
}

.product-label {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}

.bars-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.bar-row {
    display: flex;
    align-items: center;
    height: 20px;
}

.bar {
    height: 18px;
    background-color: #4a90e2;
    border-radius: 3px;
}

.bar-value {
    margin-left: 10px;
    font-size: 14px;
}

