-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: localhost    Database: pharmaplus
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `annulations_partielles`
--

DROP TABLE IF EXISTS `annulations_partielles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `annulations_partielles` (
  `id_annulation` int NOT NULL AUTO_INCREMENT,
  `id_vente` int NOT NULL,
  `montant_rembourse` decimal(10,2) DEFAULT NULL,
  `date_annulation` datetime DEFAULT CURRENT_TIMESTAMP,
  `id_utilisateur` int DEFAULT NULL,
  `motif` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_annulation`),
  KEY `id_vente` (`id_vente`),
  KEY `id_utilisateur` (`id_utilisateur`),
  CONSTRAINT `annulations_partielles_ibfk_1` FOREIGN KEY (`id_vente`) REFERENCES `ventes` (`id_vente`),
  CONSTRAINT `annulations_partielles_ibfk_2` FOREIGN KEY (`id_utilisateur`) REFERENCES `utilisateurs` (`id_utilisateur`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `annulations_partielles`
--

LOCK TABLES `annulations_partielles` WRITE;
/*!40000 ALTER TABLE `annulations_partielles` DISABLE KEYS */;
/*!40000 ALTER TABLE `annulations_partielles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fournisseurs`
--

DROP TABLE IF EXISTS `fournisseurs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fournisseurs` (
  `id_fournisseur` int NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) NOT NULL,
  `contact` varchar(100) DEFAULT NULL,
  `telephone` varchar(20) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id_fournisseur`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fournisseurs`
--

LOCK TABLES `fournisseurs` WRITE;
/*!40000 ALTER TABLE `fournisseurs` DISABLE KEYS */;
INSERT INTO `fournisseurs` VALUES (1,'PharmaDistrib RDC','M. Kabila','+243900000001','contact@pharmadistrib.com'),(2,'MedSuppliers Congo','Mme Mwamba','+243900000002','info@medsuppliers.com'),(3,'GlobalMed Europe','M. Dupont','+322123456','sales@globalmed.eu'),(4,'Groupe MediCare India','Sanjay Singh','+495684215','contact@gmcare.in');
/*!40000 ALTER TABLE `fournisseurs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `historique_prix`
--

DROP TABLE IF EXISTS `historique_prix`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `historique_prix` (
  `id_historique` int NOT NULL AUTO_INCREMENT,
  `id_produit` int NOT NULL,
  `ancien_prix` decimal(10,2) DEFAULT NULL,
  `nouveau_prix` decimal(10,2) DEFAULT NULL,
  `date_modification` datetime DEFAULT CURRENT_TIMESTAMP,
  `modifie_par` int DEFAULT NULL,
  `motif` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_historique`),
  KEY `id_produit` (`id_produit`),
  KEY `modifie_par` (`modifie_par`),
  CONSTRAINT `historique_prix_ibfk_1` FOREIGN KEY (`id_produit`) REFERENCES `produits` (`id_produit`),
  CONSTRAINT `historique_prix_ibfk_2` FOREIGN KEY (`modifie_par`) REFERENCES `utilisateurs` (`id_utilisateur`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `historique_prix`
--

LOCK TABLES `historique_prix` WRITE;
/*!40000 ALTER TABLE `historique_prix` DISABLE KEYS */;
INSERT INTO `historique_prix` VALUES (1,3,3.20,5.99,'2025-11-10 16:56:12',1,'Ajustement du prix suite ?? hausse du co??t d\'approvisionnement'),(2,7,5.80,8.00,'2025-12-30 10:11:10',1,'Ajustement de prix');
/*!40000 ALTER TABLE `historique_prix` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lignes_vente`
--

DROP TABLE IF EXISTS `lignes_vente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lignes_vente` (
  `id_ligne_vente` int NOT NULL AUTO_INCREMENT,
  `id_vente` int DEFAULT NULL,
  `id_lot` int DEFAULT NULL,
  `quantite` int NOT NULL,
  `prix_unitaire` decimal(10,2) NOT NULL,
  `date_retour` datetime DEFAULT NULL,
  `type_ligne` char(50) DEFAULT NULL,
  PRIMARY KEY (`id_ligne_vente`),
  KEY `id_lot` (`id_lot`),
  KEY `idx_lignes_vente_vente` (`id_vente`),
  CONSTRAINT `lignes_vente_ibfk_1` FOREIGN KEY (`id_vente`) REFERENCES `ventes` (`id_vente`),
  CONSTRAINT `lignes_vente_ibfk_2` FOREIGN KEY (`id_lot`) REFERENCES `lot_stock` (`id_lot`)
) ENGINE=InnoDB AUTO_INCREMENT=53 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lignes_vente`
--

LOCK TABLES `lignes_vente` WRITE;
/*!40000 ALTER TABLE `lignes_vente` DISABLE KEYS */;
/*!40000 ALTER TABLE `lignes_vente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lot_stock`
--

DROP TABLE IF EXISTS `lot_stock`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lot_stock` (
  `id_lot` int NOT NULL AUTO_INCREMENT,
  `id_produit` int DEFAULT NULL,
  `quantite` int NOT NULL,
  `date_approvisionnement` date NOT NULL,
  `date_expiration` date DEFAULT NULL,
  `fournisseur` int DEFAULT NULL,
  `prix_achat` decimal(10,2) DEFAULT NULL,
  `id_utilisateur` int DEFAULT NULL,
  PRIMARY KEY (`id_lot`),
  KEY `id_utilisateur` (`id_utilisateur`),
  KEY `fournisseur` (`fournisseur`),
  KEY `idx_lot_stock_expiration` (`date_expiration`),
  KEY `idx_lot_stock_produit` (`id_produit`),
  CONSTRAINT `lot_stock_ibfk_1` FOREIGN KEY (`id_produit`) REFERENCES `produits` (`id_produit`),
  CONSTRAINT `lot_stock_ibfk_2` FOREIGN KEY (`id_utilisateur`) REFERENCES `utilisateurs` (`id_utilisateur`),
  CONSTRAINT `lot_stock_ibfk_3` FOREIGN KEY (`fournisseur`) REFERENCES `fournisseurs` (`id_fournisseur`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lot_stock`
--

LOCK TABLES `lot_stock` WRITE;
/*!40000 ALTER TABLE `lot_stock` DISABLE KEYS */;
/*!40000 ALTER TABLE `lot_stock` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `parametres`
--

DROP TABLE IF EXISTS `parametres`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `parametres` (
  `id_param` int NOT NULL AUTO_INCREMENT,
  `nom` varchar(30) NOT NULL,
  `valeur` varchar(255) NOT NULL,
  `date_creation` datetime DEFAULT CURRENT_TIMESTAMP,
  `date_modification` datetime DEFAULT CURRENT_TIMESTAMP,
  `modifie_par` int DEFAULT NULL,
  PRIMARY KEY (`id_param`),
  KEY `modifie_par` (`modifie_par`),
  CONSTRAINT `parametres_ibfk_1` FOREIGN KEY (`modifie_par`) REFERENCES `utilisateurs` (`id_utilisateur`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `parametres`
--

LOCK TABLES `parametres` WRITE;
/*!40000 ALTER TABLE `parametres` DISABLE KEYS */;
INSERT INTO `parametres` VALUES (1,'auto_refresh','Y','2026-01-06 11:47:05','2026-01-06 11:47:05',1);
/*!40000 ALTER TABLE `parametres` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `produits`
--

DROP TABLE IF EXISTS `produits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `produits` (
  `id_produit` int NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) NOT NULL,
  `description` text,
  `prix_unitaire` decimal(10,2) NOT NULL,
  `code_barre` varchar(50) DEFAULT NULL,
  `image_produit` varchar(255) DEFAULT NULL,
  `date_creation` datetime DEFAULT CURRENT_TIMESTAMP,
  `actif` tinyint(1) DEFAULT '1',
  `category` char(50) DEFAULT NULL,
  `seuil` int DEFAULT '10',
  `unite_mesure` char(10) DEFAULT NULL,
  PRIMARY KEY (`id_produit`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `produits`
--

LOCK TABLES `produits` WRITE;
/*!40000 ALTER TABLE `produits` DISABLE KEYS */;
/*!40000 ALTER TABLE `produits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stock_mouvements`
--

DROP TABLE IF EXISTS `stock_mouvements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stock_mouvements` (
  `id_mouvement` int NOT NULL AUTO_INCREMENT,
  `id_lot` int DEFAULT NULL,
  `quantite` int NOT NULL,
  `type_mouvement` varchar(20) DEFAULT NULL,
  `date_mouvement` datetime NOT NULL,
  `id_utilisateur` int DEFAULT NULL,
  `raison` char(100) DEFAULT 'vente',
  PRIMARY KEY (`id_mouvement`),
  KEY `id_lot` (`id_lot`),
  KEY `id_utilisateur` (`id_utilisateur`),
  KEY `idx_sm_date` (`date_mouvement`),
  CONSTRAINT `stock_mouvements_ibfk_1` FOREIGN KEY (`id_lot`) REFERENCES `lot_stock` (`id_lot`),
  CONSTRAINT `stock_mouvements_ibfk_2` FOREIGN KEY (`id_utilisateur`) REFERENCES `utilisateurs` (`id_utilisateur`)
) ENGINE=InnoDB AUTO_INCREMENT=72 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stock_mouvements`
--

LOCK TABLES `stock_mouvements` WRITE;
/*!40000 ALTER TABLE `stock_mouvements` DISABLE KEYS */;
/*!40000 ALTER TABLE `stock_mouvements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `utilisateurs`
--

DROP TABLE IF EXISTS `utilisateurs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `utilisateurs` (
  `id_utilisateur` int NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `mot_de_passe` varchar(100) DEFAULT NULL,
  `date_creation` datetime DEFAULT CURRENT_TIMESTAMP,
  `role` enum('Admin','Vendeur') NOT NULL,
  `username` varchar(30) NOT NULL,
  `date_modification` datetime DEFAULT NULL,
  `actif` tinyint NOT NULL DEFAULT '1',
  PRIMARY KEY (`id_utilisateur`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utilisateurs`
--

LOCK TABLES `utilisateurs` WRITE;
/*!40000 ALTER TABLE `utilisateurs` DISABLE KEYS */;
INSERT INTO `utilisateurs` VALUES (1,'Admin Principal','admin@pharma.com','admin123','2025-09-19 14:30:26','Admin','adminP',NULL,1),(2,'Jean Vendeur','jean.vendeur@pharma.com','vendeur123','2025-09-19 14:30:26','Vendeur','vendeurJ',NULL,1),(3,'Marie Caissi??re','marie.caissiere@pharma.com','caissiere123','2025-09-19 14:30:26','Vendeur','caisseM',NULL,1);
/*!40000 ALTER TABLE `utilisateurs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `v_stock`
--

DROP TABLE IF EXISTS `v_stock`;
/*!50001 DROP VIEW IF EXISTS `v_stock`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_stock` AS SELECT 
 1 AS `nom`,
 1 AS `quantite`,
 1 AS `date_expiration`,
 1 AS `prix_achat`,
 1 AS `fournisseur`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `ventes`
--

DROP TABLE IF EXISTS `ventes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ventes` (
  `id_vente` int NOT NULL AUTO_INCREMENT,
  `date_vente` datetime NOT NULL,
  `montant_total` decimal(10,2) NOT NULL,
  `id_utilisateur` int DEFAULT NULL,
  `annule` char(1) DEFAULT '0',
  `date_retour` datetime DEFAULT NULL,
  `annule_par` int DEFAULT NULL,
  `motif_annulation` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_vente`),
  KEY `id_utilisateur` (`id_utilisateur`),
  KEY `idx_ventes_date` (`date_vente`),
  CONSTRAINT `ventes_ibfk_1` FOREIGN KEY (`id_utilisateur`) REFERENCES `utilisateurs` (`id_utilisateur`)
) ENGINE=InnoDB AUTO_INCREMENT=53 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ventes`
--

LOCK TABLES `ventes` WRITE;
/*!40000 ALTER TABLE `ventes` DISABLE KEYS */;
/*!40000 ALTER TABLE `ventes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `vue_declassements`
--

DROP TABLE IF EXISTS `vue_declassements`;
/*!50001 DROP VIEW IF EXISTS `vue_declassements`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vue_declassements` AS SELECT 
 1 AS `id_mouvement`,
 1 AS `produit`,
 1 AS `quantite`,
 1 AS `date_mouvement`,
 1 AS `raison`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vue_produits_disponibles`
--

DROP TABLE IF EXISTS `vue_produits_disponibles`;
/*!50001 DROP VIEW IF EXISTS `vue_produits_disponibles`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vue_produits_disponibles` AS SELECT 
 1 AS `id_produit`,
 1 AS `nom_produit`,
 1 AS `description`,
 1 AS `unite_mesure`,
 1 AS `code_barre`,
 1 AS `prix_vente`,
 1 AS `image_produit`,
 1 AS `date_ajout_produit`,
 1 AS `actif`,
 1 AS `id_lot`,
 1 AS `quantite`,
 1 AS `date_approvisionnement`,
 1 AS `date_expiration`,
 1 AS `prix_achat`,
 1 AS `id_fournisseur`,
 1 AS `fournisseur_nom`,
 1 AS `fournisseur_contact`,
 1 AS `fournisseur_telephone`,
 1 AS `fournisseur_email`,
 1 AS `id_utilisateur`,
 1 AS `utilisateur_nom`,
 1 AS `utilisateur_email`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vue_produits_expiration_proche`
--

DROP TABLE IF EXISTS `vue_produits_expiration_proche`;
/*!50001 DROP VIEW IF EXISTS `vue_produits_expiration_proche`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vue_produits_expiration_proche` AS SELECT 
 1 AS `produit`,
 1 AS `date_expiration`,
 1 AS `quantite`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vue_produits_stock_bas`
--

DROP TABLE IF EXISTS `vue_produits_stock_bas`;
/*!50001 DROP VIEW IF EXISTS `vue_produits_stock_bas`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vue_produits_stock_bas` AS SELECT 
 1 AS `produit`,
 1 AS `total_stock`,
 1 AS `seuil`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vue_resume_stock`
--

DROP TABLE IF EXISTS `vue_resume_stock`;
/*!50001 DROP VIEW IF EXISTS `vue_resume_stock`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vue_resume_stock` AS SELECT 
 1 AS `produit`,
 1 AS `total_stock`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vue_top_produits_vendus`
--

DROP TABLE IF EXISTS `vue_top_produits_vendus`;
/*!50001 DROP VIEW IF EXISTS `vue_top_produits_vendus`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vue_top_produits_vendus` AS SELECT 
 1 AS `produit`,
 1 AS `total_vendu`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vue_ventes_30_jours`
--

DROP TABLE IF EXISTS `vue_ventes_30_jours`;
/*!50001 DROP VIEW IF EXISTS `vue_ventes_30_jours`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vue_ventes_30_jours` AS SELECT 
 1 AS `jour`,
 1 AS `total_vente`*/;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `v_stock`
--

/*!50001 DROP VIEW IF EXISTS `v_stock`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_stock` AS select `p`.`nom` AS `nom`,sum(`ls`.`quantite`) AS `quantite`,date_format(`ls`.`date_expiration`,'%d-%m-%Y') AS `date_expiration`,`ls`.`prix_achat` AS `prix_achat`,`ls`.`fournisseur` AS `fournisseur` from (`produits` `p` join `lot_stock` `ls` on((`p`.`id_produit` = `ls`.`id_produit`))) where (`ls`.`quantite` > 0) group by `p`.`nom`,`ls`.`date_expiration`,`ls`.`prix_achat`,`ls`.`fournisseur` order by date_format(`ls`.`date_expiration`,'%d-%m-%Y') desc,sum(`ls`.`quantite`) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vue_declassements`
--

/*!50001 DROP VIEW IF EXISTS `vue_declassements`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vue_declassements` AS select `s`.`id_mouvement` AS `id_mouvement`,`p`.`nom` AS `produit`,`s`.`quantite` AS `quantite`,`s`.`date_mouvement` AS `date_mouvement`,`s`.`raison` AS `raison` from ((`stock_mouvements` `s` join `lot_stock` `l` on((`s`.`id_lot` = `l`.`id_lot`))) join `produits` `p` on((`l`.`id_produit` = `p`.`id_produit`))) where (`s`.`raison` = 'declassement') */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vue_produits_disponibles`
--

/*!50001 DROP VIEW IF EXISTS `vue_produits_disponibles`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vue_produits_disponibles` AS select `p`.`id_produit` AS `id_produit`,`p`.`nom` AS `nom_produit`,`p`.`description` AS `description`,`p`.`unite_mesure` AS `unite_mesure`,`p`.`code_barre` AS `code_barre`,`p`.`prix_unitaire` AS `prix_vente`,`p`.`image_produit` AS `image_produit`,date_format(`p`.`date_creation`,'%d-%m-%Y') AS `date_ajout_produit`,`p`.`actif` AS `actif`,`ls`.`id_lot` AS `id_lot`,`ls`.`quantite` AS `quantite`,date_format(`ls`.`date_approvisionnement`,'%d-%m-%Y') AS `date_approvisionnement`,date_format(`ls`.`date_expiration`,'%d-%m-%Y') AS `date_expiration`,`ls`.`prix_achat` AS `prix_achat`,`f`.`id_fournisseur` AS `id_fournisseur`,`f`.`nom` AS `fournisseur_nom`,`f`.`contact` AS `fournisseur_contact`,`f`.`telephone` AS `fournisseur_telephone`,`f`.`email` AS `fournisseur_email`,`u`.`id_utilisateur` AS `id_utilisateur`,`u`.`nom` AS `utilisateur_nom`,`u`.`email` AS `utilisateur_email` from (((`produits` `p` left join `lot_stock` `ls` on((`p`.`id_produit` = `ls`.`id_produit`))) left join `fournisseurs` `f` on((`ls`.`fournisseur` = `f`.`id_fournisseur`))) left join `utilisateurs` `u` on((`ls`.`id_utilisateur` = `u`.`id_utilisateur`))) where ((`ls`.`quantite` > 0) and (`p`.`actif` = 1) and ((`ls`.`date_expiration` > curdate()) or (`ls`.`date_expiration` is null))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vue_produits_expiration_proche`
--

/*!50001 DROP VIEW IF EXISTS `vue_produits_expiration_proche`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`mobinho`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `vue_produits_expiration_proche` AS select `p`.`nom` AS `produit`,`ls`.`date_expiration` AS `date_expiration`,`ls`.`quantite` AS `quantite` from (`produits` `p` join `lot_stock` `ls` on((`p`.`id_produit` = `ls`.`id_produit`))) where (`ls`.`date_expiration` between now() and (now() + interval 30 day)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vue_produits_stock_bas`
--

/*!50001 DROP VIEW IF EXISTS `vue_produits_stock_bas`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vue_produits_stock_bas` AS select `p`.`nom` AS `produit`,sum(`ls`.`quantite`) AS `total_stock`,coalesce(`p`.`seuil`,10) AS `seuil` from (`produits` `p` join `lot_stock` `ls` on((`p`.`id_produit` = `ls`.`id_produit`))) group by `p`.`id_produit`,`p`.`nom`,`p`.`seuil` having (sum(`ls`.`quantite`) < coalesce(`p`.`seuil`,10)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vue_resume_stock`
--

/*!50001 DROP VIEW IF EXISTS `vue_resume_stock`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`mobinho`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `vue_resume_stock` AS select `p`.`nom` AS `produit`,sum(`ls`.`quantite`) AS `total_stock` from (`produits` `p` join `lot_stock` `ls` on((`p`.`id_produit` = `ls`.`id_produit`))) group by `p`.`nom` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vue_top_produits_vendus`
--

/*!50001 DROP VIEW IF EXISTS `vue_top_produits_vendus`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`mobinho`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `vue_top_produits_vendus` AS select `p`.`nom` AS `produit`,sum(`lv`.`quantite`) AS `total_vendu` from (((`lignes_vente` `lv` join `lot_stock` `ls` on((`lv`.`id_lot` = `ls`.`id_lot`))) join `produits` `p` on((`ls`.`id_produit` = `p`.`id_produit`))) join `ventes` `v` on((`lv`.`id_vente` = `v`.`id_vente`))) where (`v`.`date_vente` between (now() - interval 30 day) and now()) group by `p`.`nom` order by `total_vendu` desc limit 5 */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vue_ventes_30_jours`
--

/*!50001 DROP VIEW IF EXISTS `vue_ventes_30_jours`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vue_ventes_30_jours` AS select cast(`ventes`.`date_vente` as date) AS `jour`,sum(`ventes`.`montant_total`) AS `total_vente` from `ventes` where (cast(`ventes`.`date_vente` as date) between (curdate() - interval 30 day) and curdate()) group by cast(`ventes`.`date_vente` as date) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-10 23:26:35
