<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>PharmaPlus - Fournisseurs</title>
  <link rel="stylesheet" href="../static/css/products_admin.css" />
  <link rel="stylesheet" href="../static/css/suppliers_admin.css" />
</head>

<body>
  <div class="app">
    <header class="topbar">
      <div class="topbar-left">
        <div id="logo">
          <img src="../static/img/mobisoft1.png" alt="">
        </div>
        <nav class="nav">
          <a class="navLink" href="index.html">POS</a>
          <a class="navLink" href="products_admin.html">Produits</a>
          <a class="navLink" href="dashboard.html">Dashboard</a>
          <a class="navLink" href="suppliers_admin.html">Fournisseurs</a>
          <span class="navSep"></span>
          <a class="navLink" href="settings.html">Paramètres</a>
          <a class="navLink" href="users_admin.html">Utilisateurs</a>
        </nav>
      </div>
      <div class="title">
        <h2>Paramètres</h2>
        <div class="muted">Gérer les paramètres de l'application</div>
      </div>

      <div class="actions"> </div>
    </header>

    <section class="panel">
      <h3>Paramètres globaux</h3>
      <div class="field">
        <label class="muted">URL de l'API</label>
        <input id="apiUrl" placeholder="Ex: http://localhost:8000/api" />
      </div>

      <div class="field">
        <label class="muted">Clé API (si nécessaire)</label>
        <input id="apiKey" placeholder="Ex: 12345abcde" />
      </div>

      <button id="btnSaveSettings" class="primary">Enregistrer les paramètres</button>
    </section>
  </div>

  <script src="../static/js/nav.js"></script>
</body>

</html>